@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap');


/* Start Global css */
:root {
    --black: #000;
    --white: #FFF;
}

.commonTitle {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: poppins;
}

/* End Global css */

/* Start Start Game Css */
.startGameSection {
    height: 100vh;
}

.startGame {
    display: flex;
}

.dicesImage {
    width: 500px;
}

.startGameSecDiv {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.BigTitle {
    font-family: Poppins;
    font-size: 96px;
    font-weight: 700;
    line-height: 144px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--black);
}

.playBtn {
    padding: 10px 30px !important;
    background-color: var(--black);
    color: var(--white);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    transition: all 0.5s;
    outline: none;
    box-shadow: none;
}

.playBtn:hover {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}


/* End Start Game Css */

/*  Start Game Play Css */
.topDiv {
    display: flex;
    justify-content: space-between;
    height: 30vh;
    align-items: center;
}

.topLeftDiv {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.score {
    font-family: Poppins;
    font-size: 100px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
}



.topRightDiv {
    display: flex;
    align-items: end;
    gap: 10px;
    flex-direction: column
}

.topRightDiv .buttons {
    display: flex;
    ;
    align-items: center;
    gap: 10px;
}

.numBtn {
    border: 1px solid var(--black);
    border-radius: 0px;
    color: var(--black);
    background-color: var(--white);
    transition: all 0.5s;
    font-weight: 700;
}

.numBtn:hover,
.numBtn.active {
    color: var(--white);
    background-color: var(--black);
}

.bottomDiv {
    height: 70vh;
    flex-direction: column;
}

.resetBtn {
    border: 1px solid var(--black);
    padding: 10px 70px;
    font-weight: 500;
    background-color: var(--white);
    color: var(--black);
    transition: all 0.5s;
}

.resetBtn:hover {
    background-color: var(--black);
    color: var(--white);
}

.ruleBtn {
    background-color: var(--black);
    margin-top: 10px;
    padding: 10px 70px;
    color: var(--white);
    font-weight: 300;
    text-transform: capitalize;
    transition: all 0.5s;
}

.ruleBtn:hover {
    /* background-color: var(--white); */
    color: var(--white);
    /* border: 1px solid var(--black); */
}

.modal-footer {
    padding: 0px 0px 10px 0px;
}

/*  End Game Play Css */
/* Start Game gameLose Css */
.commonImg {
    width: 450px;
}

.gameLose {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameLoseSecDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-20 {
    margin-bottom: 20px;
}

/*  End Game gameLose Css */


/* start Media Query */
@media only screen and (max-width:600px) {

    /* Start Game Componet */
    .startGame {
        flex-direction: column;
    }

    .dicesImage {
        width: 340px;
    }

    .BigTitle {
        font-size: 54px;
        line-height: 70px;
    }

    /*  Game Play Componet */
    .topDiv {
        flex-direction: column;
        height: 30vh;
    }

    .topLeftDiv {
        margin-top: 30px;
    }

    .topRightDiv {
        align-items: center;
    }

    .bottomDiv {
        height: 70vh;
    }

    .bottomDiv.center {
        margin-top: 60px;
        justify-content: start;
    }

    /*  Game Play Componet */
}

/* End Media Query */
/* Add these styles to your CSS */
.dice-image {
    animation: rotateAnimation 5s linear;
    /* Apply a rotation animation for 5 seconds */
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}